body {
  background-color: #f5f5f5;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
}

header {
  color: red;
  font-stretch: condensed;
  font-size: 40px;
  opacity: 0.3;
}

footer {
  font-size: 16px;
}

#ul-events {
  border: 1px solid green;
  margin-top: 0;
  padding-left: 0;

}

ul#ul-events li {
  text-align: left;
  border: 1px solid silver;
  list-style-type: none;
  contenteditable: "true"
}

ul{
  /*margin-left: 30%;
  margin-right: 30%;*/
  font-size: 18px;
}

#inputField{
  text-align: left;
  margin-left: -35%;
}

#new-event {
  padding: 16px 16px 16px 60px;
  border: none;
}

section{
  border: 1px solid silver;
  background-color: white;
  width: 50%;
  min-height: 50px;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2),
              0 10px 0 10px #f6f6f6;
}

ul#ul-actions li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px; /* Поля вокруг текста */
  font-size: 12px;
  text-align: center;
}

button,
input[type="checkbox"] {
  outline: none;
}

li button {
  color: red;
  margin: 0;
  position: relative;
  float: right;
}

#todo-count {
  float: left;
  text-align: left;
  padding: 3px;
}

span {
  visibility: '';
}
